@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-3">
		<a asp-controller="Bank" asp-action="Index">Банки</a>
	</div>
	<div class="col-3">
		<a asp-controller="BankClient" asp-action="Index">Клиенты банков</a>
	</div>
	<div class="col-3">
		<a asp-controller="BankAccount" asp-action="Index">Счета</a>
	</div>
</div>